<div _ngcontent-c14="" class="col s12">
  <ul _ngcontent-c14="" class="dropdown-content" id="dropdown1">
    <li _ngcontent-c14="" class="ng-tns-c14-3"><a _ngcontent-c14="" class="ng-tns-c14-3" href="javascript:void(0)">link-1</a></li>
    <li _ngcontent-c14="" class="ng-tns-c14-3"><a _ngcontent-c14="" class="ng-tns-c14-3" href="javascript:void(0)">link-2</a></li>
    <li _ngcontent-c14="" class="divider"></li>
    <li _ngcontent-c14="" class="ng-tns-c14-3"><a _ngcontent-c14="" class="ng-tns-c14-3" href="javascript:void(0)">link-3</a></li>
  </ul>
  <mz-navbar _ngcontent-c14="" class="ng-tns-c14-3" _nghost-c15="">
    <nav _ngcontent-c15="">
      <div _ngcontent-c15="" class="nav-wrapper ">
        <div class="row">
          <div class="col s4 m10 l1">
            <a _ngcontent-c14="" class="brand-logo left ng-tns-c14-3" href="javascript:void(0)">Logo</a>
          </div>
          <div class="col s4 m10 l1">
            <a _ngcontent-c14=""  id="btn-sidenav-demo" class=" ng-tns-c13-3 btn-flat ">
                <svg  style="" viewBox="0 0 24 24">
                    <path fill="#fff" d="M4,5V7H21V5M4,11H21V9H4M4,19H21V17H4M4,15H21V13H4V15Z" />
                </svg>            
              </a>
          </div>
          <div class="col s4 m10 l10">
            <mz-navbar-item-container _ngcontent-c14="" _nghost-c16="" class="ng-tns-c14-3">
              <ul _ngcontent-c16="" id="nav-mobile" class="right">
                <mz-navbar-item _ngcontent-c14="" _nghost-c17="" class="ng-tns-c14-3">
                  <li _ngcontent-c17="" class="">
                    <a _ngcontent-c14="" class="dropdown-button ng-tns-c14-3" data-activates="dropdown1" href="javascript:void(0)">
                      <i _ngcontent-c14="" class="material-icons right">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#fff" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                        </svg>
                      </i>
                    </a>
                  </li>
                </mz-navbar-item>
              </ul>
            </mz-navbar-item-container>
          </div>
        </div>
      </div>
    </nav>
  </mz-navbar>
</div>