 <div class="row">
    <div class="center-align z-depth-2" >
      <h4>News</h4>
    </div>
  </div>
  <div class="row">
      <div *ngFor="let item of data; let i = index" id="{{item.id}}" class="col s6 data-box z-depth-2 ">
        <div class="card medium">
          <div class="card-image">
            <img  src="{{item.imageUrl}}">
            <span class="card-title data-title">{{item.title}}</span>
          </div>
          <div class="card-content">
            <p class="">{{item.text}}</p>
          </div>
          <div class="card-action row">
            <div class="col m6 center">
                <a class="waves-effect waves-light btn">Accept</a>
            </div>
            <div class="col m6 center">
                <a (click)="hideItem(item.id)" class="waves-effect waves-light btn">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>